[defaults]
roles_path = roles/
inventory = inventory/production/hosts.yml
host_key_checking = False
pipelining = True
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts
fact_caching_timeout = 86400
retry_files_enabled = False
stdout_callback = default
default_result_format = yaml
forks = 10

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
